


body{ background-image: url('../images/summer.jpg'); 

   margin:0;
   padding:0;
   height:100%;
    padding-bottom: 70px;
}



.row content {
  height:auto;
  margin: 50px 50px 100px 100px;

  
}



.navbar {
      margin-bottom: 0;
      border-radius: 0;}

.navbar-brand { font-size: 25px; }
.navbar-right { font-size: 22px }
.navbar-inverse .navbar-nav>li>a { color: #f5ecec ;}
.navbar-inverse .navbar-brand  { color:#f5ecec; }
.h2, h2 {font-size: 25px; text-align: center;}
.h4, h4{ font-size: 35px; }
.h4, p{font-size: 22px}
.h3, h3{font-size: 25px}
.h3, p{font-size: 25px}
p{
  text-align: center;
  font-family: 'Roboto', sans-serif
}

     .sidenav {
      padding-top: 20px;
      background-color: transparent;
      height: 100%;}


       .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 190px;

    }
    
    h1,h2,h3,p{ font-family: 'Roboto', sans-serif;

     color:#f5ecec  }
    

    h1{ color:#f5ecec ; font-size: 30px;text-align: center;
     }

     .footer-text { text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 20px;

   }

   .col-sm-8 h3 a{
    color: #fcf8e3;

    }  


    .navbar-fixed-bottom {

      background-color: #222;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

  }

  .navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 0px 0 0;
}

p.footer-text{

  text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 15px;


}