

body {
  padding-top: 50px;
  padding-bottom: 0px;

}

 .jumbotron {
	text-align: center;
	background-image: url('../images/summer.jpg');
	padding-top: 82px;
  padding-bottom: 80px;
  margin: 0px;

  

}
.jumbotron h1 {
    font-size: 150px;
    color: #f5ecec;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
    line-height: .9em;
    letter-spacing: .05em;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jumbotron p{  color: #f5ecec;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  margin: .5em 6.75% .5em 6.75%;

 }


.navbar-brand { font-size: 25px;
  

}
.navbar-right { font-size: 22px 

}

.navbar-inverse .navbar-nav>li>a { color: #f5ecec;

}

.navbar-inverse .navbar-brand  { color: #f5ecec; 

}
.h2, h2 {font-size: 35px; font-family: 'Roboto', sans-serif;  text-align: center; padding-top: 20px; margin-bottom: 20px;}
.h4, h4{ font-size: 30px; ; font-family: 'Roboto', sans-serif; 

}

.h3, h3{font-size: 30px ; font-family: 'Roboto', sans-serif; 

} 

.h1, .h2, .h3, h1, h2, h3 {
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    margin: 0px;
}



.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    }

 .container-skills{
   margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
   background-color: #e4dede;
}


#outside-container{  background-color: #e4dede;

 
  }


.container2{ text-align: center;
      padding: 10px;  font-family: 'Roboto', sans-serif; 
      background-color: black;

  }

 .container2 p {
  color:white;

 font-size: 15px ; font-family: 'Roboto', sans-serif; ;

}

 p1 {font-size: 21px;  font-family: 'Roboto', sans-serif;  
}


  .row {
    margin-right: -30px;
    /* margin-left: -15px; */
    height: 700px;
    width: 100%;
    padding-left: 300px;
}

 .col-md-4 p { font-size: 20px 

 }
 .col-md-4{

    width: 30%;
    margin-right: 39px;

}

 p3 { font-size: 22px; font-family: 'Roboto', sans-serif; 
 }

 p4 { font-size: 22px;  font-family: 'Roboto', sans-serif; 

 }

 p.motivation{ font-size: 20px;  font-family: 'Roboto', sans-serif;
 margin: .5em 6.75% .5em 6.75%;

 }

 .cross_line{

    display: inline-block;
    position: relative;
    padding: 2.20em 4em;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    text-decoration: none;
    font-weight: bold;
    color: #404246;
}
.cross_line:before, .cross_line:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .5s;
}
.cross_line:before {left: 20px;}
.cross_line:after {right: 20px;}
.cross_line:hover:before{
  top: 0px;
  left:0;
  height: 100%;
}
.cross_line:hover:after{
  top: 0px;
  right: 0;
  height: 100%;
}

}


/** Media resolution optimization-/**

/* Large desktops and laptops */
@media (min-width: 1510px){

  .row {
    margin-right: -30px;
    margin-left: 60px;
    height: 700px;
    width: 100%;
    padding-left: 300px;
}

 .col-md-4 p { font-size: 20px 

 }
 .col-md-4{

    width: 30%;
    margin-right: 39px;

}
}


@media (min-width: 1200px) {

.row {

    margin-left: 60px;
    height: auto;
    width: 100%;
    padding-left: 200px;
    margin-left: auto;
    margin-right: auto;
}

 .col-md-4 p { font-size: 20px 

 }
 .col-md-4{

    width: 30%;
    margin-right: 25px;

}

}






/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

 .row {
    /* margin-right: -30px; */
    /* margin-left: -15px; */
    height: auto;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 {
    width: 30%;
    margin-right: 25px;
}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .row {
    /* margin-right: -30px; */
    /* margin-left: -15px; */
    height: auto;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 {
    width: 80%;
    /* margin-right: 10px; */
    margin: auto;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    /* margin-bottom: 0px; */
    /* margin-top: 0px; */
    padding-bottom: 40px;
}


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

.row {
    /* margin-right: -30px; */
    /* margin-left: -15px; */
    height: auto;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 {
    width: 80%;
    /* margin-right: 10px; */
    margin: auto;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    /* margin-bottom: 0px; */
    /* margin-top: 0px; */
    padding-bottom: 40px;
}


}

/* Portrait phones and smaller */
@media  (max-width: 480px)  {

  .row {
    /* margin-right: -30px; */
    /* margin-left: -15px; */
    height: auto;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 {
    width: 30%;
    margin: 0px;
    
}

.jumbotron h1 {
    font-size: 100px;
    color: #f5ecec;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
    line-height: .9em;
    letter-spacing: .05em;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-md-4 p {
    font-size: 20px;
    width: 150px;
}
