body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0% !important; /*removes the scrollbar but still scrollable*/
  /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

.container-skills{
  cursor: pointer;
} 

body {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-font-smoothing: antialiased;
  padding-right: 0px;
  height: 100%;
}
div.col-md-12{
  padding-right: 0px;
  padding-left: 0px;
}
  

 .jumbotron {                                 /* JUMBOTRON */
	text-align: center;
	background-image: url('../images/summer.jpg');
	padding-top: 82px;
  padding-bottom: 80px;
  margin: 0px; 
  }


header {
  background-image: url('../images/summer.jpg');
  height:auto;
  color:#000000;
  }


#nav.navbar-custom.navbar-inverse.navbar-static-top.affix-top{ /* NAVBAR */
  border-top: 1.5px solid #EDECEC;  
  border-bottom: 1.5px solid #EDECEC;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    font-family: 'Fredericka the Great', cursive;
  }

#nav {
  width: 100%;
  position:static;
  top:-32px;
  margin-bottom: 0px;
  }


#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
  }

/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
  font-weight:700;
    text-transform:uppercase;
    border-width:0;
  }
.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
  }
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
  background-color: #000;
  }
.navbar-custom .dropdown-menu{
  right:0;
  }
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
  }

.nav-justified>li {
    display: table-cell;
    width: auto;
  }

.container-motivation {                             /* CONTAINER MOTIVATIOM */
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background: linear-gradient(135deg, rgba(244,226,156,0) 0%,rgba(144, 103, 72, 1) 100%), 
    linear-gradient(to bottom, rgba(244,226,156,1) 0%,rgb(138, 41, 16) 100%);
    height: 710px;
    border-top: 1px solid #EDECEC;
    }


  p.motivation {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    margin: 0em 6.75% .5em 6.75%;
    padding: 25px 0px 10px 0px;
    }

    h3.motivation{
    font-size: 25.5px;
    font-family: "transitional sans-serif";
    text-rendering: optimizeLegibility;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    top: 100px;
    line-height: 1.4em;
    letter-spacing: .05em;
    padding-left: 50px;
    padding-right: 50px;
    }

.cross_line{
    display: inline-block;
    position: relative;
    padding: 2.20em 4em;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    text-decoration: none;
    font-weight: bold;
    color: #404246;
    margin: 0px 15px 18px 25px;
    font-family: "transitional sans-serif";
    top: 230px;
  }
.cross_line:before, .cross_line:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .5s;
  }
.cross_line:before {left: 20px;}
.cross_line:after {right: 20px;}
.cross_line:hover:before{
  top: 0px;
  left:0;
  height: 100%;
  }
.cross_line:hover:after{
  top: 0px;
  right: 0;
  height: 100%;
  }

.container-header-ux{                          /* CONTAINER UX*/
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  padding: 75px 0px 35px 0px; 
  text-align: center;
  height: 600px;
  }


img.problem{                           /* IMAGES FOR UX*/;
border-right: 0.3px solid white;
}


img.research, img.test, img.modelling, img.IA, img.problem{
width: 100%;
max-width:100%;
height: 450px;
position: relative;
image-rendering: -webkit-optimize-contrast;
}

                                             /* IMAGES FOR PROGRAMMING*/

img.hmtl, img.css, img.js{                               
vertical-align: middle;
width: 20%;
height: 300px;
image-rendering: -webkit-optimize-contrast;
}
img.bootstrap{
vertical-align: middle;
width: 19%;
height: 300px;
}
img.foundation{
vertical-align: middle;
width: 15%;
height: 300px;
image-rendering: -webkit-optimize-contrast;
}




                                        /* IMAGES FOR DESIGN*/


img.illustrator, img.photoshop,img.balsamiq,img.axure {
width: 100%;
max-width:100%;
height:450px;
position: relative;
image-rendering: -webkit-optimize-contrast;

}


.container-header-design{                     /* CONTAINER DESIGN */
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  padding: 75px 0px 35px 0px;  
  text-align: center;
  height: 600px;
  }

.col-md-3.design{                                            
  width: 25%;
  margin-left:0%;
  padding: 0%;
  position: relative;
  }


.col-md-4.columnskills{
  width: 20%;
  margin-left:0%;
  padding: 0%;
  position: relative;
  padding-left: 0px;
  height: 100%;
  }


                                          /* FADE IN EFFECTS FOR COL'S */


a.design-programming{
  width: 100%;                   
  position: relative;
  height: 100%;
} 

a.design-programming img.js{
  width:25%;
  vertical-align:top-center;

}


a.design-programming:after{
   position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

}

a.design-programming:after{
    width: 100%;
    height: 100%;
    top: -147px;
    left: 5px;
    background: rgba(0,0,0,0.6);
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: 156px 0px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    height: 100%;
    color: white;
    font-size: 24px;
    font-family: "transitional sans-serif";
    text-rendering: optimizeLegibility;


}

a.design-programming:before{
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    content:'\A';
   }
   
   a.design-programming:hover:after, a.design-programming:hover:before{
    opacity: 1;
   }

a.design{  
  width: 100%;                   
  position: relative;
  height: 100%;
  }

  a.design img.research{
  width:100%;
  vertical-align:top-center;
  }
  

  a.design:after, a.design:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    }

a.design:after {
    width: 100%;
    height: 100%;
    top: -216px;
    left: 0;
    background: rgba(0,0,0,0.6);
    content: '\A';
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: 225px 0px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* vertical-align: middle; */
    position: absolute;
    height: 100%;
    color: white;
    font-size: 24px;
    font-family: "transitional sans-serif";
    text-rendering: optimizeLegibility;
    bottom: 20px;
    }


a.design:before {
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    content:'\A';
    }

a.design:hover:after, .col-md-3.design:hover:before {
    opacity:1;
  }

.container-header-programing{
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  padding: 75px 0px 35px 0px;
  text-align: center;
  height: 600px;
  }

#wrap {                                        /* NAVBAR */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  }

.container-skills{
   margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
   background-color: #efeae7;
   border-top: 2.5px solid #EDECEC;
   border-bottom: 2.5px solid #EDECEC;

}

#outside-container{  background-color: #e4dede;
  }

  .row.content{                                                   /* CONTACT */
    background-image: url("../images/summer.jpg");
    background-repeat: no-repeat;
    border-top: 2.5px solid #ffffff;
    border-bottom: 1.5px solid #EDECEC;

  }

   .col-md-8.text-left{

    text-align: center;
  }

   .col-md-8 h3 a {
    color: #f5ecec;
    font-family: 'Fredericka the Great', cursive;
  }

  hr.style{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    opacity: 1;
    border-left: 380px black solid;
    border-right: 380px black solid;
  }

  hr.style2{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    opacity: 1;
    border-left: 550px #c7c7c7 solid;
    border-right: 550px solid #c7c7c7;
    border-top: 1.4px solid #444;
  }


.container2{ text-align: center;                               /* FOOTER */
      padding: 10px;  font-family: 'Roboto', sans-serif; 
      background-color: black;
    }



                                         /* FONTS - SIZES, STYLES, LINE HEIGHT */
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    top: 130px;
  }

.jumbotron h1.wow.fadeIn{
 font-size: 130px;
    color: #f5ecec;
    text-rendering: optimizeLegibility;
    line-height: .9em;
    letter-spacing: .05em;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Fredericka the Great';
    
   }

 h3{
  font-size: 25.5px;
 font-family: 'Fredericka the Great', cursive;;
  text-rendering: optimizeLegibility;
  padding-bottom: 10px;
  padding-top: 10px;
}

h3.carousel{
  font-size: 25.5px;
  font-family: 'Fredericka the Great', cursive;
  text-rendering: optimizeLegibility;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

h3.contact{
  font-size: 25.5px;
  font-family: 'Fredericka the Great', cursive;
  text-rendering: optimizeLegibility;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #f5ecec;
  margin-bottom: 0px;
  margin-top: 0px;
}
h3.wow.fadeInRight , h3.wow.fadeInLeft{
  font-size: 25.5px;
  font-family: 'Fredericka the Great', cursive;
  text-rendering: optimizeLegibility;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #f5ecec;
  margin-bottom: 0px;
  margin-top: 0px;
}


 h2.carousel{  color: #000000;
  text-rendering: optimizeLegibility;
  font-family: 'Fredericka the Great', cursive;
  margin: .5em 6.75% .5em 6.75%;
  font-size: 30px;
  text-align: center;
 }

.jumbotron h2{
  color: #f5ecec;
  text-rendering: optimizeLegibility;
  font-family: 'Fredericka the Great', cursive;
  margin: .5em 6.75% .5em 6.75%;
  font-size: 40px;
 }


p{

  color:#464545;
  font-size:18px;
  font-family: "transitional sans-serif";
  text-rendering: optimizeLegibility;
  margin: 0px;
  padding-top: 0px;
  }

h4{
  font-family: 'Modern Antiqua', cursive;
  font-size:40px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-rendering: optimizeLegibility;
  color: #000000;
}

h4.contact{
  color: #f5ecec;
  font-family: 'Fredericka the Great';
}

h4.carousel{
  font-family: 'Fredericka the Great', cursive;
  font-size:40px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-rendering: optimizeLegibility;
  color: #000000;
  text-align: center;
  }
  h4.header{
    font-family: 'Fredericka the Great';
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-rendering: optimizeLegibility;
    color: #000000;
    position: relative;
    top: 140px;
  }

p.carousel{
color:#464545;
  font-size:25px;
  font-family: 'Fredericka the Great', cursive;
  text-rendering: optimizeLegibility;
  margin: 0 0 10px;
  padding-top: 10px;
  text-align:center;
  }




.carousel-inner-webdev {                               /* CAROUSEL CSS */
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #efeae7;
    border-radius: 15%
}

.navbar-custom .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a {
background-color: #847e7e;
}



/** Media resolution optimization-/**

/* Large desktops and laptops */



@media (min-width: 1199px){

  div.col-md-12{
  padding-right: 0px;
  padding-left: 0px;
}

.col-md-4.columnskills{
     width: 20%;
     padding-left: 0px;
}

.col-md-3.columnthree{
     width: 22%;
    margin-left: 3%;
    padding-bottom: 1%;
    padding-right: 2%;
  }

a.design-programming:after {
    left: 3px;
  }
  img.foundation{
          width: 14.5%;
          image-rendering: -webkit-optimize-contrast;
         }
 } 

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

.jumbotron {
    padding-top: 0px;
    padding-bottom: 80px;
    margin: 0px;
  }
  hr.style {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    opacity: 1;
    border-left: 260px black solid;
    border-right: 260px black solid;
  }

    a.design-programming:after {
    left: 3px;
    font-size: 20px;
    }
    a.design:after{
    font-size: 20px;
    top: -167px;
    padding: 175px 0px;
    }

    img.illustrator, img.photoshop, img.balsamiq, img.axure, img.problem, img.research, 
    img.test, img.modelling, img.IA,
    img.photoshop{
    height: 350px;
    image-rendering: -webkit-optimize-contrast;
    }
    img.bootstrap{
    width: 23%;
    image-rendering: -webkit-optimize-contrast;
    }

    .cross_line {
    top: 200px;
    }

    h3.motivation {
    top:140px;
    }

ol.carousel-indicators{

  padding-top: 20px;
  }
  img.foundation{
          width: 10%;
          image-rendering: -webkit-optimize-contrast;
         }
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    text-align: center;
    background-image: url(../images/summer.jpg);
    padding-top: 0px;
    padding-bottom: 80px;
    margin: 0px;
  }

  .container-motivation {
    height: 650px;
  }
  .container-header-ux, .container-header-design, .container-header-programming {height: 500px;
  }
  .cross_line {
    top: 120px;
    }

   h3.wow.fadeInRight, h3.wow.fadeInLeft {
    font-size: 20.5px;
  }
  h3.motivation {
    top:70px;
    font-size: 20.5px;
    }

    .jumbotron h1.wow.fadeIn {
    font-size: 100px;
    }
    .jumbotron h2.wow.fadeIn {
    font-size: 35px;
    } 
  .container-header-ux, .container-header-design, .container-header-programing {
    padding: 55px 0px 25px 0px;
    }

    .col-md-12{
      padding-right: 65px;
      padding-left: 65px;
    }
    hr.style {
    border-left: 350px black solid;
    border-right: 350px black solid;
    }

    p.carousel {
    font-size: 20px;
    }
    h4.carousel {
    font-size: 30px;

        }
        a.design-programming:after {
 
        font-size: 15px;
        }
        a.design:after{
        font-size: 15px;
        }
        .col-md-4.columnskills, .col-md-3.design{
          float: left;
        }
        img.hmtl{
          width: 24%;
        }
        img.foundation{
          width: 10%;
          image-rendering: -webkit-optimize-contrast;
         }

 }
    
  

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 767px) {


  .container-header-ux, .container-header-design, .container-header-programming {height: 500px;
  }

.jumbotron h1.wow.fadeIn {
    font-size: 60px;
    margin-top: 0px;
  }
  .jumbotron h2.wow.fadeIn {
    font-size: 20px;
    }
    h3 {
    font-size: 18px;
    }
    hr.style {
    border-left: 180px black solid;
    border-right: 180px black solid;
    }
    .col-md-12{
      padding-right: 75px;
      padding-left: 75px;
    }
      h4 {
    font-size: 30px;
      }
      h3.contact {
      font-size: 16.5px;
    }
    p.footer{
      font-size: 14px;
    }
    p.carousel {
    font-size: 15px;
    }
    h4.carousel {
    font-size: 25px;
    }
    h3.motivation{
      font-size: 18px;
      top: 30px;
    }

    h4.header {font-size: 35px;
    }
    .cross_line {
    top: 70px;
    }
    .col-md-4.columnskills, .col-md-3.design{
          float: left;
          height: 300px;
        }
        a.design-programming:after {
        
        font-size: 15px;
        }
        a.design:after{
        font-size: 15px;
        top: -142px;
        padding: 150px 0px;
        }
        img.bootstrap{
          width: 22%;
          image-rendering: -webkit-optimize-contrast;
        }
         
        img.illustrator, img.photoshop, img.balsamiq, img.axure, img.problem, img.research, 
        img.test, img.modelling, img.IA,
        img.photoshop{
          height: 300px;
          image-rendering: -webkit-optimize-contrast;
         }
         img.foundation{
          width: 10%;
          image-rendering: -webkit-optimize-contrast;
         }


        }

/* Portrait phones and smaller */
@media  (max-width: 480px)  {

  .jumbotron h1.wow.fadeIn {
    font-size: 60px;
    margin-top: 0px;
  }
  .jumbotron h2 {
    font-size: 20px;
    }
    h3.wow.fadeInRight, h3.wow.fadeInLeft{
    font-size: 18px;
    }

    hr.style {
    border-left: 180px black solid;
    border-right: 180px black solid;
    }

    .col-md-12{
      padding-right: 75px;
      padding-left: 75px;
    }
      h4 {
    font-size: 30px;
      }
      h3.contact {
      font-size: 16.5px;
    }
    p.footer{
      font-size: 14px;
    }

    img.photoshop {
    margin-left: 0px;
    }

    p.carousel {
    font-size: 13px;
    }
    h4.carousel {
    font-size: 22px;
        }
    h3.motivation{
      font-size: 16px;
      top: 30px;
    }

    h4.header {font-size: 35px;
    }
    .cross_line {
    top: 30px;
    }
    .col-md-4.columnskills, .col-md-3.design{
          float: left;
          height: 300px;
        }
        a.design-programming:after {
        
        font-size: 15px;
        }
        a.design:after{
        font-size: 13px;
        top: -142px;
        padding: 150px 0px;
        }
        img.bootstrap{
          width: 20%;
          image-rendering: -webkit-optimize-contrast;
        }
          img.illustrator, img.photoshop, img.balsamiq, img.axure, img.problem, img.research, 
          img.test, img.modelling, img.IA,
          img.photoshop{
          height: 300px;
          image-rendering: -webkit-optimize-contrast;
         }
         img.foundation{
          width: 11%;
         }
        

          .container-header-ux, .container-header-design, .container-header-programming {height: 500px;
        }

}

