body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
}

.row{
  margin-right: 0px;
}

 .jumbotron {
    text-align: center;
    background-image: url(../images/summer.jpg);
    padding-top: 82px;
    padding-bottom: 80px;
    margin: 0px;
}

#nav.navbar-custom.navbar-inverse.navbar-static-top.affix-top{ /* NAVBAR */

  border-top: 1.5px solid #EDECEC;
  border-bottom: 2.5px solid #EDECEC  
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
  margin-bottom: 0px;
}


#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

/* customize nav style */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  font-family: 'Fredericka the Great', cursive;
}

.navbar-custom {
    background-color: #2e2e2e;
  font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
  background-color: #000;
}
.navbar-custom .dropdown-menu{
  right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.nav-justified>li {
    display: table-cell;
    width: auto;
}


       /* CONTAINER UX IMAGE */

#container-ux{
 background-image: url('../images/geo.jpg'); opacity: 1.0;
 background-repeat: repeat; 
 background-image-size: 50px;
 border-top: 1.5px solid #444;
}


img {
    vertical-align: middle;
    width: 100%;
    opacity: 0.5;
    border-radius: 40px;
}

img.ux{
    vertical-align: middle;
    opacity: 0.30;
    width: 100%;
    height: 330px;
    image-rendering: pixelated;
}


                                        /* WRAPPER FIRST PROJECT */

  #first-project{
    background: rgb(105,155,200);
background: -moz-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%, rgba(181,197,216,1) 57%);
 background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%,rgba(105,155,200,1)), color-stop(57%,rgba(181,197,216,1)));
 background: -webkit-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: -o-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: -ms-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );
     border-bottom: 5px solid #93a1aa;
    border-top: 5px solid #a0b9cf;
  }
  #second-project{
    border-top: 5px solid #c1c1c1;
    background: #092756;
 background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #e2bebf 0%,#aebdd4 100%);
 background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #e2bebf 0%,#aebdd4 100%);
 background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #e2bebf 0%,#aebdd4 100%);
 background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #e2bebf 0%,#aebdd4 100%);
 background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #e2bebf 0%,#aebdd4 100%););
  }

img.zaplata{
    width: 100%;
    opacity: 0.9;
    border-radius: 40px;
    margin-bottom: 25px;
}
img.deutchpunkt{
      width: 100%;
    opacity: 0.9;
    margin-bottom: -45px;
}

hr.style{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    opacity: 1;
    
    border-top: 0.5px dashed #444;
  }


                                           /* CAL TO ACTION WRAPPER AND CONTAINER */

  #call-to-action{
      background-image: linear-gradient(#8b9da9, #fff6e4);
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  }

  .container-call{
    border-bottom: 2.5px solid #EDECEC;
  }
  h3.wow.flash.infinite.animated{
    animation-duration: 4s;
  }

  .col-md-6-call{
    padding: 75px 0px 35px 0px;
    text-align: center;
    height: 400px;
}
                                      
      

.cross_line{

    display: inline-block;
    position: relative;
    padding: 2.20em 4em;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    text-decoration: none;
    font-weight: bold;
    color: #404246;
}
.cross_line:before, .cross_line:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .5s;
}
.cross_line:before {left: 20px;}
.cross_line:after {right: 20px;}
.cross_line:hover:before{
  top: 0px;
  left:0;
  height: 100%;
}
.cross_line:hover:after{
  top: 0px;
  right: 0;
  height: 100%;
}
                                      /* FOOTER */


.footer{ text-align: center;                         
      padding: 10px;  font-family: 'Roboto', sans-serif; 
      background-color: black;
  }






                                  /* FONT SIZES ETC */


.jumbotron h1.wow.fadeIn {

    font-size: 130px;
    color: #f5ecec;
    text-rendering: optimizeLegibility;
    line-height: .9em;
    letter-spacing: .05em;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Fredericka the Great', cursive;

}

h2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-rendering: optimizeLegibility;
    color: #000000;
    text-align: center;
}

p.meta{
    text-align: center;
    font-family: "transitional sans-serif";
    font-size: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .02em;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 35px;
}

.footer p { font-size: 20px;
    font-family: "transitional sans-serif";
    text-rendering: optimizeLegibility;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #464545;
  
  }

  p.zaplata{
    color: #464545;
    font-size: 18px;
    font-family: 'Fredericka the Great', cursive;
    text-rendering: optimizeLegibility;
    text-align: center;
    margin: .5em 13.45% .5em 13.45%;
    padding-top: 10px;
    padding-bottom: 80px;
  }

  h3.wow.flash.infinite{
    color: #464545;
    font-size: 35px;
    font-family: 'Fredericka the Great', cursive;
    text-rendering: optimizeLegibility;
    text-align: center;
    margin: 0px;
    padding-top: 10px
  }

  p.contactme{
    color: #464545;
    font-size: 20px;
    font-family: 'Fredericka the Great', cursive;
    text-rendering: optimizeLegibility;
    text-align: center;
    margin: 0px;
    padding-top: 10px
  }

  .navbar-custom .navbar-nav>li>a {
    color: #ddd;
    font-size: 13px;
}

  /** Media resolution optimization-/**

/* Large desktops and laptops */


/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 767px) {
  
.jumbotron h1.wow.fadeIn {
    font-size: 93px;
    margin-top: 0px;
  }
   .col-md-6-call{
    height: 300px;
  }
  p.contactme{
    font-size: 15px;
  }

}

/* Portrait phones and smaller */
@media  (max-width: 480px)  {

  .jumbotron h1.wow.fadeIn {
    font-size: 80px;
    margin-top: 0px;
  }

  h2 {
    font-size: 30px;
  }

  p.zaplata {
    font-size: 14px;
  }
  h3.wow.flash.infinite{

    font-size: 20px;}
  .footer p{
    color: #464545;
    font-size: 16px;
    }

    .col-md-6-call{
    height: 250px;
  }
  p.contactme{
    font-size: 10px;
  }
 } 