.svg-wrapper {
  position: relative;
  padding-top: 50px;
  background-color: black;
}
.cloud,
.city-element,
.tree-element {
  fill: none;
  fill-rule: evenodd;
  stroke: #fff;
  stroke-width: 8px;
  stroke-miterlimit: 10;
}
.city-element,
.tree-element {
  -webkit-animation-name: draw;
          animation-name: draw;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.cloud {
  stroke-dasharray: 750px;
  stroke-dashoffset: 0;
}
.cloud-wrapper {
  position: absolute;
  top: 0;
}
.cloud-wrapper-1 {
  width: 6%;
  height: 105px;
  left: 68%;
  -webkit-animation: float1 30s linear infinite;
          animation: float1 30s linear infinite;
}
.cloud-wrapper-2 {
  width: 6%;
  height: 105px;
  top: 35px;
  left: 80%;
  -webkit-animation: float2 30s linear infinite;
          animation: float2 30s linear infinite;
}
.cloud-wrapper-3 {
  width: 12%;
  height: 105px;
  top: 20px;
  left: 3%;
  -webkit-animation: float3 30s linear infinite;
          animation: float3 30s linear infinite;
}
.city-element {
  stroke-dasharray: 4500px;
  stroke-dashoffset: 4500px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.tree-element {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes float1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes float1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes float2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes float2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes float3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes float3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}