html{
  scroll-behavior: smooth;
  background-image: url("../images/stars.png");
  background-repeat: repeat;
}

body{
  text-rendering: optimizeLegibility;
  min-height: min-content;
  margin: 0;
  text-align: center;
}

#uniwrapper{
  background-image: url("../images/stars.png");
  background-repeat: repeat;
}

#another-one{
  margin-left: 5%;
  margin-right: 5%;
  }

  body,nav,nav ul,nav ul li,#und:not(p),#res:not(p),#ana:not(p),#pro:not(p),#test:not(p),#navbar-section,#intro:not(p), 
  #contact:not(p),#undtool,#restool,#anatool,#protool,#testtool,#pres2,.modal-header.grid-understanding,.grid-research,.grid-analysis,.grid-prototype,.grid-testing,.contact-wrapper,.Understanding-tools,.Research-tools,.Analysis-tools,.Prototype-tools,.Testing-tools,.Understanding-intro,.Research-intro,.Analysis-intro,.Prototype-intro,.Testing-intro,.Understanding-tools-buttons,.Research-buttons,.Analysis-buttons,.Prototype-buttons,.Testing-buttons,.Understanding-tools-text,.Research-text,.Analysis-text,.Prototype-text,.Testing-text,.portal-text,.portal-wrapper,.Research-tools-buttons,.Analysis-tools-buttons,.Prototype-tools-buttons,.Testing-tools-buttons,h1,h2,h3,h4,p,button,
  img.tech,img.image-present,img.image-main-present,img.icon,.Prototype-tools-text,ul.social-buttons,.socialm1,.socialm2,.socialm3,.socialm4,.fa,.Research-tools-text,.Analysis-tools-text,.Understanding-tools-text,.Prototype-tools-text,.Testing-tools-text
  {
    display: grid;
  }


.grid-understanding,.grid-research,.grid-analysis,.grid-prototype{
  margin-bottom: 12em;
  border-top: 1px rgba(255,255,255,.25) dashed;
  border-width: thin;
}


 /* TEXT ANIMATION CLASS */

 .hideme
{
    opacity:0;
}
/* NAV */

nav ul {
  list-style: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    float: none;
}

nav{
  height: inherit;
  float: none;
  width: 100%;
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 500ms linear;
  }
  a.sticky-nava,a{
    text-decoration: none;
    color: black;

}
a.sticky-nava{
  transition: color .4s ease-in-out;
    align-self: center;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 30px white, 0px 0px 30px black, 0px 0px 30px black, 0px 0px 10px #000000, 0px 0px 10px #ffffff;
}

a.digm{
color:#00b5ff;;
}

nav ul li.active{
  border-top: 0.09em solid white;
  border-bottom: 0.09em solid white;
}


.main_header {
    position: fixed;
    max-height: 90px;
    top: 0px;
    z-index: 999;
    width: 88vw;
    background: none;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.5s;
    margin-right: 5%;
    margin-left: 5%;
    height: 10vh;
}
.sticky {
  background-color: rgba(4, 4, 4, 0.5);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid silver;
}
li.nav:hover {
  cursor: pointer;
  border: 0.1em solid #ffffff;
}

@media only screen and (max-width: 812px) {
  .main_header {
    padding-top: 2em;
    max-height: 70px;
  }



.open-nav {
  max-height: 370px !important;
  height: inherit;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid silver;
}


nav {
  float: right;
  width: 60%;
  }
}
@media only screen and (max-width: 812px) {
  nav {
    width: 100%;
    display: block;
  }

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
  }
 } 
@media only screen and (max-width: 812px) {
  nav ul {
    padding-top: 3em;
    margin-bottom: 1em;
    float: left;
    text-align: center;
    width: 100%;
    display: block;
  }

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  }
 } 
@media only screen and (max-width: 812px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
  }
nav ul li.active{
  border-top: 0.09em solid black;
  border-bottom: 0.09em solid black;
}
  a.sticky-nava {
    color: black;
    text-shadow: none;
  }
 } 
.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    right: 10em;
    top: 1em;
    width: 1.5em;
    transition: all 200ms ease-in;
}
@media only screen and (max-width: 812px) {
  .mobile-toggle {
    display: block;
  }

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #000000;
  display: block;
  }
  li.nav:hover {
  cursor: pointer;
  border: 0.1em solid #000000;
  }
}
/* BUTTON ANIMATION */



/* NAVBAR CENTER CODE*/
.intro-nav,.understanding-nav,.research-nav,.analysis-nav,
.proto-strategy-nav,.testing-nav,.digitalm-nav,.contact-nav{
      text-align: center;
      box-sizing: border-box;
}


.grid-intro{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 8vh;
}

.Intro {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}



/* TEXT QUOTE ANIMATION*/

.perspective {
  perspective: 6em;
  overflow-y: hidden;
  overflow-x: hidden;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  position: relative;
  width: 16vw;
  height: 40vw;
  display: flex;
  align-items: center;
  color:#000F35;
  font-size: 3em;
}

article .background,
article .foreground {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.background {
  transform: translateZ(-50px);
  color: #000F35;
}

.middleground {
  transform: translateZ(0px);
  color: #000F35;
}

.foreground {
  transform: translateZ(50px);
  color: #fff;
}

/* MODAL HOVER OVERLAY */

figure.caption {
  position: relative;
    overflow: hidden;
    margin: 0;
    min-width: 10em;
    width: 100%;
    text-align: center;
    min-height: 10em;
    height: 100%;
}
figure.caption * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.caption img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  image-rendering: -webkit-optimize-contrast;
}
figure.caption figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.caption figcaption > div {
  height: 50%;
  overflow: hidden;
  width: 100%;
  position: relative;
  min-width: 10em;
  min-height: 6em;
}
figure.caption figcaption::before {
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  height: 0.15em;
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.caption h2,
figure.caption p {
  background: rgba(0,0,0,0.5);
  color: white;
  word-spacing: 0.1em;
  margin: 0;
  padding: 1em;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s,-webkit-transform 0.4s,-moz-transform 0.4s,-o-transform 0.4s,transform 0.4s;
}
figure.caption h2 {
  display: inline-block;
  text-transform: uppercase;
  bottom: 0;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.caption h2 span {
}
figure.caption p {
  top: 0%;
  -webkit-transform: translate3d(0%, -50%, 0);
  transform: translate3d(0%, -50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.caption:hover img {
  opacity: 0.7;
}
figure.caption:hover figcaption h2,
figure.caption:hover figcaption p {
  font-size: 1em;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.caption:hover figcaption h2 {
  opacity: 1;
}
figure.caption:hover figcaption p {
  opacity: 1;
}
figure.caption:hover figcaption::before {
  background: #ffffff;
  left: 0px;
  right: 0px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}





                                              /* MAIN GRID */



.grid-understanding {
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
                        }

 /* RESUME */
button:active {
outline: none;
border: none;
}

button:focus {outline:0;}

/* SECRET MODAL */

div.secret-list {
    width: 100%;
    margin: 2em auto;
    display: list-item;
    overflow: auto;
    margin: 0;
}

/* list styles */

ul {
  list-style: none;
}

li.hobbies img.hobbies {
    width: 10em;
    height: 10em;
    float: left;
    margin: 2em;
}

li.hobbies img.hobbies:hover {
  -webkit-box-shadow:0px 0px 5px #fff;
}

img.hobbies{
    object-fit: fill;
    opacity: 0.9;
    vertical-align: middle;
    margin: auto;
    border-radius: 2%;;
}

a.secret{
    width: 0.5vh;
    height: 2.5vh;
    background-color: white;

}

.Understanding-intro {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}


.Understanding-tools {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}


.Understanding-tools-buttons {
  grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "u1 u2 u3 u4";
    grid-gap: 0.3em;
      height: 20em;
}



a.u1,a.u2,a.u3,a.u4,a.r2,a.r4,a.a1,a.a2,a.a3,a.a4,a.p1,a.p2,a.p3,a.t2{
  box-shadow: 0px 25px 50px rgba(220, 215, 215, 0.5);
}

img.tech{
    object-fit: fill;
    opacity: 0.9;
    margin: auto;
    border-radius: 2%;
    width: 40%;
    height: 100%;
}

img.image-present,.image-main-present{
    object-fit: fill;
    margin: auto;
    border-radius: 2%;
    width: 60%;
    height: 30vh;
    image-rendering: -webkit-optimize-contrast;
    margin-bottom: 1em;
}


.grid-research {
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
}

.Research-intro {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}


.Research-tools {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}


.Research-tools-buttons {
    grid-template-columns: 20% 25% 10% 25% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "r1 r2 r3 r4 r5";
    grid-gap: 0.3em;
    max-height: 20em;
}
a.r2{
  grid-area: r2;
}
a.r4{
  grid-area: r4;
}


.grid-analysis {
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
}

.Analysis-intro {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}


.Analysis-tools {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Analysis-tools-text" "Analysis-tools-buttons";
}

.Analysis-tools-text { grid-area: Analysis-tools-text; }

.Analysis-tools-buttons {
  grid-template-columns: 6% 17.5% 6% 17.5% 6% 17.5% 6% 17.5% 6%;
  grid-template-rows: 1fr;
  grid-template-areas: "a1 a2 a3 a4 a5 a6 a7 a8 a9";
  grid-gap: 0.3em;
  height: 20em;
}

a.a1{
  grid-area: a2;
}
a.a2{
  grid-area: a4;
}
a.a3{
  grid-area: a6;
}
a.a4{
  grid-area: a8;
}


.grid-prototype {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;                 
}

.Prototype-intro {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.Prototype-tools {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.Prototype-tools-text { 
}

.Prototype-tools-buttons {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "p1 p2 p3";
  grid-gap: 0.3em;
  height: 20em;
}

.grid-testing {
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
  border-top: 1px rgba(255,255,255,.25) dashed;
  border-width: thin;
}

.Testing-intro {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}


.Testing-tools {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
      margin-bottom: 20vh;
}

.Testing-tools-text { }

.Testing-tools-buttons {
  grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr;
    grid-template-areas: "t1 t2 t3";
    grid-gap: 0.3em;
    height: 20em;
}

a.t2{
  grid-area: t2;
}


.Understanding-tools,.Research-tools,.Analysis-tools,.Prototype-tools,.Testing-tools{
    grid-template-rows: auto;
  }

  img.image-portal{
    object-fit: fill;
    border-radius: 50%;
    width: 725%;
    height: 1290%;
    position: relative;
    bottom: 500%;
    left: -324%;
}
  

.portal-text{
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}


.portal-wrapper{
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

div.grid-portalres{

}

div.grid-portal{

}

.contact-wrapper {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "Contact";
        background: -moz-linear-gradient(79deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 78%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 99%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255,255,255,1)), color-stop(21%, rgba(255,255,255,1)), color-stop(22%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(79deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 78%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 99%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(79deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 78%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 99%); /* opera 11.10+ */
        background: -ms-linear-gradient(79deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 78%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 99%); /* ie10+ */
        background: linear-gradient(11deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 78%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 99%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
}


/* FONTSSSSSSS*/

p.background,p.foreground,p.middleground, h1.intro, h1.ux-main,p.case,h2.ux-main,h1.portal,h1.ux-contact,h2.ux-contact,p.ux-contact,h1.modal-header,h1.modal-header2,a.sticky-nava,button.resume,button.resume-two{
  font-family: 'Cheque-Regular';
}

p.intro,p.intro-two,p.ux-main,p.und-tool, p.ana-tool, p.pro-tool, p.test-tool, p.res-tool,p.modal-main-present{
  font-family: 'Roboto', sans-serif
}



a.resume{
  background-color: lightgray;
  font-size: 16px;
  justify-self:center;
}

h1,h2,h3,h4,p{
  color: #ffffff;
}
button{
  cursor: pointer;
}

h1.intro,h3.intro,h2.intro,button.resume_resume-two{
  color: black;
}

h1.intro{
  font-size: 300%;
  word-spacing: 0.3em;
  color: white;
}

p.intro,p.intro-two{
  margin: 1.5em 25.45% 1.5em 25.45%;
  letter-spacing: 0.19em;
  line-height: 2.1em;
}

p.intro{
 padding: 1% 5%;
}
p.intro-two{
  padding: 1% 12%;
  margin-bottom: 2em;
}

h2.intro{
    padding: 5%;
    letter-spacing: 0.4em;
    line-height: 1.6em;
}

h3.intro{
    padding: 6.5%;
    padding-bottom: 3%;
    letter-spacing: 0.4em;
}

a.resume{
  border-radius: 20%;
  background-color: white;
  text-decoration: none;
  margin-bottom: 12%;
}

button.resume-two{
    margin: auto;
    font-size: 1.75em;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 0.35em;
}

button.resume-two:focus{
  box-shadow: inset 0 1px 1px 
  rgba(0,0,0,.075), 0 0 8px rgba(155,155,155,.6);
}

button.resume {
  border: 0.01em solid white;
  background: transparent;
  transition: all .5s cubic-bezier(0.1, 0.9, 0.9, 1.275);
  color: rgb(255,255,255,1);
}

button.resume:hover {
  background: #000;
  color: #fff;
  letter-spacing: 2px;
}

button.white {
    color: white;
    background: none;
    padding-bottom: 1%;
    letter-spacing: 0.35em;
    font-size: 0.7em;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}




/* SOCIAL MEDIA BUTTONS */

ul.social-buttons{
    margin-left: 50%;
    justify-items: right;
    padding-top: 1em;
    padding-left: 6em;
}


li.socialm1{
    grid-column-start: 1;
    grid-column-end: 1;
}
li.socialm2{
  grid-column-start: 2;
    grid-column-end: 2;
}
li.socialm3{
  grid-column-start: 3;
    grid-column-end: 3;
}
li.socialm4{
  grid-column-start: 4;
  grid-column-end: 4;
}

.socialm1,.socialm2,.socialm3,.socialm4{
    list-style-type: none;
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
    cursor: pointer;
    transition: cubic-bezier(0.65, 0.05, 0.36, 1) 0.4s;
    align-items: center;
    margin-right: 1.1em;
    border-style: double;
}

.socialb{
  border-image: linear-gradient(45deg, #d62d4b, #239fd2);
  border-image-slice: 1;
  background: linear-gradient(45deg, pink, skyblue);
  -webkit-background-clip: text;
  }
.socialb:hover{

}

.fa{
    font: normal normal normal 1em/1 FontAwesome;
    font-size: 2em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* HIDING GRADIENT ANIMATION TEXT */

p.text_background,p.text_foreground,p.text_middleground{
  visibility: hidden;
}
.socialm1:hover,.socialm2:hover,.socialm3:hover,.socialm4:hoverh1.intro,h3.intro,h2.intro,button.resume_resume-two,p.intro,p.intro-two,h1.ux-contact,h2.ux-contact,span.contact,h1.ux-main,h2.ux-main,h2.ux-main,h1.portal,p.ux-two,p.ux-main,p.und-tool,p.ana-tool,p.pro-tool,p.test-tool,p.res-tool,p.case{
  text-shadow: 0px 0px 30px white, 0px 0px 30px black, 0px 0px 30px black, 0px 0px 10px #000000, 0px 0px 10px #ffffff;

}

h1.ux-main,p.ux-main,h2.ux-main,p.ux-two,p.ux-main,h1.portal{
  letter-spacing: 0.18em;
}
p.ux-two,p.ux-main,p.und-tool,p.ana-tool,p.pro-tool,p.test-tool,p.res-tool,h1.portal,p.intro,p.intro-two{
  font-size: 1em;
}

h1.ux-main{
  margin-top: 3em;
  font-size: 1.6em;
}

p.ux-main{
  margin-bottom: 3em;
  font-size: 0.9em;
}

h2.ux-main{
  margin-top: 8em;
  font-size: 1.3em;
}

p.ux-two,p.ux-main{
  line-height: 2.1em;
  padding: 1% 25%;
}

p.und-tool,p.ana-tool,p.pro-tool,p.test-tool,p.res-tool{
    padding: 1% 25%;
    line-height: 2.5em;
}

p.case{
  line-height: 2.5em;
}


h4.ux-contact{
  opacity: 10%;
}



h1.portal{
    color: #ffffff;
    margin-top: 5em;
    font-size: 2.4em;
}

h1.ux-contact,p.ux-contact{  
  color: #ffffff;
  grid-template-areas: "Contact";
  line-height: 2.5em;
}

h1.ux-contact{
  margin-top: 2.2em;
  font-size: 2.5em;
}
p.ux-contact{
  font-size: 1.3em;
  margin-bottom: 3em;
}

h2.ux-contact,p.case{
  font-size: 1.5em;
}

img.icon{
  margin: auto;
}









 /*MODAAAAAAAAAALS*/


 /*FONTSSSSSS and IMAGESSS*/

p.modal-case-meta{
  opacity: 0.5;
  font-size: 0.5em;
  letter-spacing: 0.2em;
}
p.modal-case-main,p.modal-takeaway,p.modal-main-present,p.modal-case-takeaway,h2.intro{
  letter-spacing: 0.1em;
}
p.modal-case-takeaway{
    font-size: 0.9em;
    padding: 5% 30%;
    line-height: 2em;
}

p.modal-case-main,p.modal-takeaway,p.modal-main-present{
    letter-spacing: 0.25em;
    font-size: 0.9em;
    padding: 1% 5%;
    line-height: 1.3em;
}

p.modal-takeaway{
  margin-top: 8.5em;
}
p.modal-case-takeaway,p.modal-takeaway,h1.modal-header2,p.modal-main{
  color: rgba(255, 255, 255, .5);
}

img.modal-logo,img.modal-main{
    display: grid;
    object-fit: fill;
    margin: auto;
    border-radius: 2%;;
}

img.modal-logo{
  width: 20%;
  min-height: 20%;
}

img.modal-main{
  margin-bottom: 3vh;
  margin-bottom: 2em;
  cursor: zoom-in;
  width: 60vw;
    
}
video{
  display: grid;
    justify-self: center;
    align-self: center;
    max-width: 60vw;
    
}


/*PRESENTATION MODAL */


.case,.pres,.pres2-main,.pres2{
  grid-template-rows: 1fr;
  display: grid;
 }

 .pres{
  grid-area: pres;
 }

 .pres2{
  grid-area: pres2;
 }
 

 .pres2-main{
    grid-gap: 1em;
    margin-top:1em;
    margin-bottom: 2.5em;
    grid-template-columns: 1fr 1fr;

}
 h1.modal-header2,p.modal-takeaway{
      grid-area: 1/1;
 }


 .pres2{
  grid-area: pres2;
  margin-bottom: 1em;
 }



 #pres2{
  grid-template-columns: 1fr;
    grid-area: pres2-main;
    grid-gap: 1em;
    margin-bottom: 2.5em;
 }



 /* FONT AND I7-9 OPTIMIZ */

@font-face {
 font-family: Cheque-Regular; src: url('fonts/Cheque-Regular.TTF');
 src: url('fonts/Cheque-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Cheque-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Cheque-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Cheque-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Cheque-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }




